.registration__header {
  font-size: 60px;
  width: 100%;
  height: 90px;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  -webkit-text-stroke: #7c40ff 1.3px;
  font-family: "Marker", cursive;
}

.registration__container {
  margin: 0 auto;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container__checkbox {
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.container__checkbox:hover {
  cursor: pointer;
}

.container__label_hidden {
  display: none;
}

.container__input_hidden {
  display: none;
}
