.game__warning,
.comments__header,
.rating__header {
  font-size: 30px;
  width: 100%;
  height: 45px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: #7c40ff 1.3px;
  font-family: "Marker", cursive;
}

.game__content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.picture__header {
  font-size: 80px;
  width: 100%;
  height: 90px;
  text-align: center;
  color: #fff;
  -webkit-text-stroke: #7c40ff 1.3px;
  font-family: "Marker", cursive;
  position: absolute;
  top: 30vh;
}

.game__picture {
  width: 100%;
  height: calc(100vh - 120px);
  position: relative;
  display: flex;
  flex-direction: column;
}

.picture__img {
  object-fit: cover;
  width: 100%;
  height: calc(100vh - 120px);
}

.game__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: #1c0947;
  padding: 0 10vw;
}

.game__p {
  font-size: 20px;
  width: 100%;
  padding: 2px 5px;
  color: #fff;
  line-height: 60px;
}

.game__description {
  width: 100%;
  height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  text-align: center;
  background-image: url("../../assets/icons/backgroundGame.svg");
  background-size: cover;
}

.description__p_about {
  font-size: 30px;
  color: #fff;
  margin-top: 10vh;
  text-transform: uppercase;
}

.description__p_title {
  color: #fff;
  font-size: 80px;
  height: 100px;
  -webkit-text-stroke: #7c40ff 1.3px;
  font-family: "Marker", cursive;
}

.description__arrow {
  height: 10vh;
  object-fit: cover;
  padding: 2vh 40vw;
}

.description__p_desc {
  font-size: 20px;
  color: #fff;
  padding: 0 20vw;
}

.game__comments,
.game__rating {
  width: 50%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.comments__header,
.rating__header {
  font-size: 60px;
  height: auto;
}

.comments__div {
  position: relative;
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #7c40ff;
  border-radius: 5px;
  background-color: #fff;
}

.comments__username {
  font-size: 40px;
}

.comments__text {
  font-size: 25px;
}

.comments__button_delete {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  border: 0;
  background-color: transparent;
  background-size: contain;
  background-image: url("../../assets/icons/delete.svg");
  transition: all 300ms ease;
}

.comments__div:hover .comments__button_delete {
  display: block;
}

.comments__button_delete:hover {
  background-image: url("../../assets/icons/delete-active.svg");
}

.game__new-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  height: 200px;
}

.new-comment__button {
  font-size: 30px;
  font-weight: bold;
  width: 200px;
  height: 60px;
  margin-left: 10px;
  background-color: #7c40ff;
  color: #fff;
  transition: all 300ms ease;
}

.new-comment__button:hover {
  transform: scale(1.1);
}

.new-comment__textarea {
  font-size: 25px;
  padding: 10px;
  border: 2px solid #7c40ff;
  border-radius: 5px;
}

.game__rating {
  width: 30%;
}

.rating__list {
  display: flex;
  justify-content: space-between;
}

.rating__star {
  width: 60px;
  height: 60px;
  background-image: url("../../assets/icons/star.svg");
  background-color: transparent;
  background-size: cover;
  border: 0;
  cursor: pointer;
  transition: all 300ms ease;
}

.rating__star_set {
  background-image: url("../../assets/icons/starSet.svg");
}

.rating__star:hover {
  transform: scale(1.1);
}

@media (max-width: 1100px) {
  .picture__header {
    top: 10vh;
  }

  .description__p_title {
    font-size: 60px;
  }
}
@media (max-width: 800px) {
  .picture__header {
    font-size: 60px;
  }

  .description__p_title {
    font-size: 40px;
    height: 50px;
  }
}

@media (max-width: 640px) {
  .game__ul {
    padding: 0 15px;
  }

  .game__p {
    font-size: 15px;
  }
}

@media (max-width: 530px) {
  .picture__header {
    font-size: 50px;
  }

  .description__p_about {
    font-size: 20px;
  }

  .description__p_title {
    font-size: 30px;
    height: 80px;
    padding: 0 3vw;
  }

  .description__p_desc {
    font-size: 18px;
    padding: 0 10vw;
  }

  .game__ul {
    flex-direction: column;
    height: 100%;
  }

  .game__content {
    height: calc(100vh + 64px);
  }

  .footer__img,
  .header__img,
  .footer__a,
  .header__a_icon {
    width: 40px;
    height: 40px;
  }
}

@media (max-width: 400px) {
  .picture__header {
    font-size: 40px;
  }
}
