.footer {
  width: 100%;
  height: 60px;
  background-color: #1c0947;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
}

.footer__img {
  width: 50px;
  height: 50px;
}

.footer__p {
  font-size: 20px;
  color: #fff;
}

.footer__a {
  height: 50px;
}
