.header {
  width: 100%;
  background-color: #7c40ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 20px;
}

.header__title {
  width: 120px;
  position: absolute;
  left: calc(50% - 60px);
  color: #fff;
  font-family: "Marker", cursive;
}

.header__a {
  height: 50px;
}

.header__img {
  height: 50px;
  width: 50px;
}

.header__div {
  display: flex;
  align-items: center;
}

.header__button {
  height: 50px;
  font-size: 20px;
  color: #fff;
  background-color: transparent;
  border: 0;
}

.header__a_button:first-of-type {
  margin-right: 10px;
}

.header__nickname {
  font-size: 24px;
  color: #fff;
  font-family: "Marker", cursive;
  margin-right: 30px;
}
